<h3>スケジュール編集</h3>

<%= form_with model: @post do |f| %>
  <table>
    <tr>
      <th><%= f.label :name ,"タイトル" %></th>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <th><%= f.label :start ,"開始日" %></th>
      <td><%= f.date_field :start, value: (f.object.start || Time.now.strftime("%Y-%m-%d")) %></td>
    </tr>

    <tr>
      <th><%= f.label :end ,"終了日" %></th>
      <td><%= f.date_field :end, value: (f.object.end || Time.now.strftime("%Y-%m-%d")) %></td>
    </tr>

    <tr>
      <th><%= f.label :all_day ,"終日" %></th>
      <td><%= f.check_box :all_day %></td>
    </tr>

    <tr>
      <th><%= f.label :introduction ,"スケジュールメモ" %></th>
      <td><%= f.text_area :introduction %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "登録完了する"%></li>
      <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
    </ul>
  </div>
<% end %>